DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/bujo?schema=public"
PORT=3000
JWT_SECRET="your-jwt-secret-here"
FRONTEND_URL=

GOOGLE_CLIENT_ID=

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CALLBACK_URL=http://localhost:3000/api/auth/line/callback
